<div id="service" class="tp-service-3__area services-panel-area tp-service-3__overlay-bg black-bg-2 pt-150 pb-125 z-index-1 cursor-style">
    <div class="tp-service-3__circle-img">
      <span class="text-img">
       <img src="/assets/img/footer/footer-circle-img.png" alt="">
      </span>
       <div class="shape">
          <svg width="260" height="70" viewBox="0 0 260 70" fill="none" xmlns="http://www.w3.org/2000/svg">
             <path d="M68.7285 34.1352C48.3941 10.6976 13.8796 0.514191 0 0.514191C93.4783 0.514191 276.081 -0.642708 258.863 0.514191C236.79 1.99739 217.224 6.94161 191.137 34.1352C140.468 93.9609 98.3272 68.2507 68.7285 34.1352Z" fill="currentcolor"></path>
          </svg>    
       </div>                 
    </div>
 
    <div class="tp-service-3__shape-1">
       <img src="/assets/img/portfolio/shape-1.png" alt="">
    </div>
    <div class="tp-service-3__shape-2 d-none d-lg-block">
       <img src="/assets/img/portfolio/shape-2.png" alt="">
    </div>
    <div class="tp-service-3__shape-3">
       <img data-speed="1.2" src="/assets/img/portfolio/star.png" alt="" data-lag="0" style="translate: none; rotate: none; scale: none; transform: translate(0px, -29.25px); will-change: transform;">
    </div>
 
    <div class="container container-large">
       <div class="tp-about-inner">
           <span class="tp-about-inner-border transition-3"></span>
           <div class="row">
               <div class="col-xl-5 col-lg-5">
                   <div class="tp-about-wrapper">
                       <div class="tp-section-title-wrapper p-relative mb-45">
                           <span class="tp-section-subtitle-bg">About Me</span>
                           <span class="tp-section-subtitle tp-section-subtitle-1 tp-about-subtitle">About
                               Me</span>
                       </div>
                       <div class="tp-about-thumb-wrapper p-relative z-index-1">
                           <div class="tp-about-thumb p-relative z-index-1">
                               <div class="tp-about-thumb-bg-shape include-bg"
                                   data-background="/assets/img/about/shape/about-shape-1.png"></div>
                               <img src="/assets/img/about/anhtho.png" style="height: 326px; margin-left: 1rem;">
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-xl-7 col-lg-7">
                   <div class="tp-about-desc">
                       <div class="tp-about-desc-content mb-40">
                           <p>Hi! I’m <span><strong>Trung</strong></span>, a passionate <span><strong>UI/UX and 2D
                                       Graphic Designer</strong></span> with a strong foundation in
                               <span><strong>design principles</strong></span>, <span><strong>user
                                       experience</strong></span>, and <span><strong>visual
                                       aesthetics</strong></span>. With a background in <span><strong>frontend
                                       development</strong></span>, I have a solid understanding of
                               <span><strong>design feasibility</strong></span> and <span><strong>implementation in
                                       real-world applications</strong></span>, ensuring
                               <span><strong>creativity</strong></span> and
                               <span><strong>functionality</strong></span> in my work.
                           </p>
                       </div>
                       <div class="tp-about-fact">
                           <div class="row">
                               <div class="col-md-4 col-sm-6 mb-30">
                                   <div class="tp-about-fact-item">
                                       <!-- <img src="/assets/img/about/phone.png" alt="" style="height: 50px; color: aliceblue;"> -->
                                       <h4>
                                        Email
                                    </h4>
                                       <p>0375307021</p>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6 mb-30">
                                   <div class="tp-about-fact-item">
                                       <h4>
                                           Email
                                       </h4>
                                       <p>dntrung044@gmail.come</p>
                                   </div>
                               </div>
                               <div class="col-md-4 col-sm-6 mb-30">
                                   <div class="tp-about-fact-item">
                                       <h4>Address</h4>
                                       <p>Da Nang</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
 </div>