<footer>
    <div
        class="tp-footer-3__wrapper tp-footer-3__overlay-bg black-bg-2 p-relative z-index-1 fix tp-mouse-move-btn-section cursor-style">
        <div class="tp-footer-3__shape-1">
            <img src="/assets/img/footer/footer-shape.png" alt="">
        </div>
        <!-- <div class="tp-footer-3__img">
            <img src="/assets/img/footer/footer-3-1.png" alt="">
        </div> -->
        <div class="tp-footer-3__area pt-120 pb-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="tp-footer-3__title-box">
                            <span class="tp-footer-3__subtitle">Contact Me</span>
                            <h3 class="tp-footer-3__title tp_title_anim">Let's work Together</h3>
                        </div>
                        <div class="tp-contact-2__top-info mb-80 d-flex align-items-center justify-content-center">
                            <div class="parallax-wrap">
                                <div class="parallax-element">
                                    <a href="mailto:dnturng044@mail.com">
                                        <img src="assets/img/contact/icon-1.png" alt="">
                                        <span>dnturng044@mail.com</span>
                                    </a>
                                </div>
                            </div>
                            <div class="parallax-wrap">
                                <div class="parallax-element">
                                    <a href="tel:0375307021">
                                        <img src="assets/img/contact/icon-2.png" alt="">
                                        <span>+(84) 375307021</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tp-contact-2__bottom-info">
                            <div class="row justify-content-center">
                                <div class="col-xl-10">
                                    <form action="#">
                                        <div class="row">
                                           <div class="col-xl-4 col-lg-4 mb-50">
                                              <div class="tp-contact-2__input">
                                                 <input class="input-field" type="text" placeholder="Your Name">
                                                 <span class="focus-border"></span>
                                              </div>
                                           </div>
                                           <div class="col-xl-4 col-lg-4 mb-50">
                                              <div class="tp-contact-2__input">
                                                 <input class="input-field" type="text" placeholder="Your Email">
                                                 <span class="focus-border"></span>
                                              </div>
                                           </div>
                                           <div class="col-xl-4 col-lg-4 mb-50">
                                              <div class="tp-contact-2__select">
                                                 <select class="input-field" style="display: none;">
                                                    <option>Subject (optional)</option>
                                                    <option>Greeting</option>
                                                    <option>Recruitment</option> 
                                                 </select>
                                                    <div class="nice-select input-field" tabindex="0">
                                                        <span class="current">Subject (optional)</span>
                                                        <ul class="list">
                                                            <li data-value="Subject (optional)" class="option selected focus">Subject (optional)</li>
                                                            <li data-value="Greeting" class="option">Greeting</li>
                                                            <li data-value="Recruitment" class="option">Recruitment</li>
                                                        </ul>
                                                    </div>
                                                 <span class="focus-border"></span>
                                              </div>
                                           </div>
                                           <div class="col-xl-12">
                                              <div class="tp-contact-2__textarea">
                                                 <textarea class="input-field" placeholder="Your message here..."></textarea>
                                                 <span class="focus-border"></span>
                                              </div>
                                           </div>
                                           <div class="col-xl-12">
                                              <div class="tp-contact-2__btn text-center ">
                                                 <div class="parallax-wrap d-inline-block">
                                                    <div class="parallax-element">
                                                       <a href="/updating.html" class="tp-btn-pink-large">
                                                          <span data-hover="Send Message">
                                                             Send Message
                                                          </span>
                                                       </a>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tp-copyright-3__area">
            <div class="tp-copyright-3__border-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <div class="tp-copyright-3__left text-center text-md-start">
                                <p>© 2025 Dntrung044.</p>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 d-none d-md-block">
                            <div class="tp-copyright-3__social text-end">
                                <ul>
                                    <li><a href="https://facebook.com/dntrung044"><i
                                                class="fa-brands fa-facebook-f"></i>Facebook</a></li>
                                    <li><a href="https://youtube.com/@dntrung044"><i
                                                class="fa-brands fa-youtube"></i>Youtube</a></li>
                                    <li><a href="https://behance.net/dntrung044"><i
                                                class="fa-brands fa-behance"></i>Behance</a></li>
                                    <li><a href="https://github.com/dntrung044"><i
                                                class="fa-brands fa-github"></i>Github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>