<section class="tp-hero-3__area black-bg-3 tp-hero-3__ptb z-index-1 smooth p-relative tp-btn-trigger-3">
   <div class="tp-hero-3__shape-1">
      <img src="/assets/img/hero/hero-shape-2-1.png" alt="">
   </div>
   <div class="tp-hero-3__shape-2">
      <img src="/assets/img/hero/hero-shape-2-2.png" alt="">
   </div>

   <div class="tp-isomeric-grid d-none">
      <div class="tp-isomeric-grid-item tp-isomeric-grid-horizontal">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
      <div class="tp-isomeric-grid-item tp-isomeric-grid-vertical">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
         <span></span>
      </div>
   </div>

   <div class="tp-hero-3__social-wrap d-none d-lg-inline-flex">
      <a href="https://www.facebook.com/dntrung044">Facebook</a>
      <a href="https://www.youtube.com/dntrung044">Youtube</a>
      <a href="behance.net/dntrung044">Behance</a>
      <a href="https://github.com//dntrung044">Github</a>
   </div>

   <a href="#about">
      <div class="tp-hero-3__scrool-down d-none d-lg-inline-flex">
         <span class="text">Scroll</span>
         <span>
            <svg width="14" height="93" viewBox="0 0 14 93" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M14 85.8995C10.1308 85.8995 6.9999 88.9319 6.9999 92.6793" stroke="white" stroke-width="2"
                  stroke-miterlimit="10"></path>
               <path d="M7 92.6793C7 88.9319 3.86911 85.8995 -0.000102413 85.8995" stroke="white" stroke-width="2"
                  stroke-miterlimit="10"></path>
               <path d="M7 0L7 90" stroke="white" stroke-width="2" stroke-miterlimit="10"></path>
            </svg>
         </span>
      </div>
   </a>

   <div class="container">
      <div class="row align-items-end">
         <div class="col-xl-12">
            <div class="tp-hero-3__btn-box">
               <p class="tp-char-animation">
                  <img src="/assets/img/hero/hero-hand.png" alt="" class="tp-char-animation">
                  Hello, I'm Đào Nhật Trung!
               </p>
            </div>
            <div class="tp-hero-3__content">
               <h3 class="tp-hero-3__title tp-char-animation">

               </h3>
               <h1 class="tp-hero-title cd-headline clip tp_title_anim">
                  <span class="cd-words-wrapper">
                     <b class="app">VISUAL</b>
                     <b class="is-visible">UX/UI</b>
                     <b class="app">GRAPHIC</b>
                  </span>
                  Designer
               </h1>

            </div>
            <div class="tp-hero-3__btn-box tp_wrap_anim">
               <p class="mb-4">Bringing creative ideas to life with stunning and intuitive designs.</p>
               <div class="tp-btn-bounce-3">
                  <a class="tp-btn-blue" href="projects.html">
                     <span class="text"> View Portfolio</span>
                     <span class="icon">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M1 1L10 10" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                           <path d="M10 1V10H1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>