<div class="tp-project-3__area p-relative black-bg-3 pt-110  pb-110">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="tp-project-3__title-box pb-30 text-center portfolio-sec-pin">
               <h3 class="tp-section-title-3 tp_title_anim">Personal Projects</h3>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-xl-12">
            <div class="tp-portfolio-item-wrapper-3">
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="https://www.behance.net/gallery/222692507/Skyways-Airlines-App-UI">
                     <img src="/assets/img/portfolio/3/ui_skyways.png" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View on<br> Behance</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="https://www.behance.net/gallery/221676753/SKYWAYS-AIRLINE-BRAND-IDENTITY">
                     <img src="/assets/img/portfolio/3/bd_skyways.png" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View on<br> Behance</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="https://www.behance.net/gallery/203347605/Harmony-Coffee-Brand-Identity">
                     <img src="/assets/img/portfolio/3/bd_harmony.png" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Behance</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="https://www.behance.net/gallery/221677039/Quang-noodle-restaurant-application">
                     <img src="/assets/img/portfolio/3/ui_noodles.png" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Behance</span>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>

      <div class="row align-items-end">
         <div class="tp-blog-3__btn text-start text-md-center">
            <a class="tp-btn-blue" href="projects.html">
               <span class="text"> View All Project</span>
               <span class="icon">
                  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M1 1L10 10" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                     <path d="M10 1V10H1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                  </svg>
               </span>
            </a>
         </div>
      </div>
   </div>
</div>