<div class="tp-project-3__area p-relative black-bg-3 pt-110  pb-110">
   <div class="container">
      <div class="row">
         <div class="col-xl-12">
            <div class="tp-project-3__title-box pb-30 text-center portfolio-sec-pin">
               <h3 class="tp-section-title-3 tp_title_anim">Featured Projects</h3>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-12">
            <div class="tp-portfolio-item-wrapper-3">
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="portfolio-details.html">
                     <img src="/assets/img/portfolio/3/portfolio-4.jpg" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Work</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="portfolio-details.html">
                     <img src="/assets/img/portfolio/3/portfolio-1.jpg" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Work</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="portfolio-details.html">
                     <img src="/assets/img/portfolio/3/portfolio-2.jpg" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Work</span>
                     </div>
                  </a>
               </div>
               <div class="tp-portfolio-item-3 portfolio-panel pb-80 tp-hover-reveal-text">
                  <a href="portfolio-details.html">
                     <img src="/assets/img/portfolio/3/portfolio-3.jpg" alt="">
                     <span></span>
                     <div class="tp-portfolio-view-btn-3">
                        <span>View <br> Work</span>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
         <div class="row align-items-end">
               <div class="tp-blog-3__btn text-start text-md-center">
                  <a class="tp-btn-blue" href="blog.html">
                     <span class="text"> View All Project</span>
                     <span class="icon">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M1 1L10 10" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                           <path d="M10 1V10H1" stroke="white" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round" />
                        </svg>
                     </span>
                  </a>
            </div>
         </div>
      
   </div>
</div>