<div class="tp-services-area tp-sv tp-services-bg-text-animation theme-bg-2 fix">
   <div class="container container-large">
      <div class="tp-services-inner pb-195 p-relative z-index-1">
         <span class="tp-services-inner-border tp-vertical-line transition-3"></span>
         <span class="tp-services-inner-border right tp-vertical-line transition-3"></span>
         <div class="tp-services-bottom-text tp-services-bg-text ">
            <p>What i'm doing</p>
         </div>
         <div class="row gx-0">
            <div class="col-xl-6 col-lg-7">
               <div class="tp-services-wrapper tp-services-capsule-wrapper p-relative  pt-100 pr-70"
                  data-tp-throwable-scene="true">
                  <div class="tp-section-title-wrapper tp_text_anim mb-170">
                     <div class="tp-section-title-inner p-relative">
                        <h3 class="tp-section-title-3 tp_title_anim">What<br> i'm doing.</h3>
                     </div>
                     <p>The combination of my passion for design, code & interaction web design world.</p>
                  </div>
                  <div class="tp-services-capsule-item-wrapper">
                     <p data-tp-throwable-el="">
                       <span class="tp-services-capsule-item" data-bg-color="#FFDB59">#LOGO</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#00CC97">#POSTER</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#19B3F1">#PACKAGING</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#FFDB59">#CALENDAR</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#FF759C">#OFFICE
                           IDENTITY</span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#00CC97">#SIMPLE MOTION</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#FF759C">#VIDEO EDITING</span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#19B3F1"
                           data-text-color="#121212">#WEB/APP DESIGN</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#00CC97" data-text-color="#121212">#LAYOUT
                           DESIGN</span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#FF759C"
                           data-text-color="#121212">#FRONTEND</span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="tp-services-capsule-item" data-bg-color="#19B3F1"
                           data-text-color="#121212">#BACKEND</span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="">
                           <img src="/assets/img/services/shape/services-shape-2.png" alt="">
                        </span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="">
                           <img src="/assets/img/services/shape/services-shape-3.png" alt="">
                        </span>
                     </p>

                     <p data-tp-throwable-el="">
                        <span class="">
                           <img src="/assets/img/services/shape/services-shape-1.png" alt="">
                        </span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="">
                           <img src="/assets/img/services/shape/services-shape-2.png" alt="">
                        </span>
                     </p>
                     <p data-tp-throwable-el="">
                        <span class="">
                           <img src="/assets/img/services/shape/services-shape-3.png" alt="">
                        </span>
                     </p>
                  </div>
               </div>
            </div>

            <div class="col-xl-6 col-lg-5">
               <div class="tp-services-accordion tp-accordion tp-accordion-2 mt-90 pl-70 p-relative">
                  <span class="tp-services-accordion-border"></span>
                  <div class="accordion" id="accordionExample">
                     <div class="accordion-item tp-services-accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              <span>01</span>
                              UI Designer
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                           data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Proficient in Figma, Illustrator, Photoshop.
                                 Strong understanding of Design Principles, User Flow, Wireframing, and
                                 Prototyping.
                                 Knowledgeable in Design Systems and optimizing User Experience (UX). </p>
                              <ul>
                                 <li>Wireframing & Prototyping</li>
                                 <li>Web/App Interface Design</li>
                                 <li>User Flow & Interaction Design</li>
                                 <li>Design System Creation & Management</li>
                              </ul>
                           </div>
                        </div>
                        <span class="accordion-item-border"></span>
                     </div>
                     <div class="accordion-item tp-services-accordion-item active">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <span>02</span>
                              Graphic Designer
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                           data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Skilled in Illustrator, Photoshop, with a deep understanding of design
                                 principles, color theory, and typography.
                                 Specializing in brand identity, logo design, posters, banners, and
                                 marketing materials.</p>
                              <ul>
                                 <li>Logo & Brand Identity Design</li>
                                 <li>Posters, Banners, Catalog.</li>
                                 <li>Marketing & Promotional Material Design</li>
                              </ul>
                           </div>
                        </div>
                        <span class="accordion-item-border"></span>
                     </div>
                     <div class="accordion-item tp-services-accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <span>03</span>
                              Full Stack Development
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                           data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                              <p>Experienced in Backend & Fullstack Web Development (Vue.js, Laravel).
                                 Capable of developing Android applications using Kotlin.</p>
                              <ul>
                                 <li>Front-end: Vue.js, Tailwind CSS, JavaScript</li>
                                 <li>Back-end: PHP Laravel, Java Spring</li>
                                 <li>Database: MySQL, Firebase</li>
                                 <li>App Development: Kotlin</li>
                              </ul>
                           </div>
                        </div>
                        <span class="accordion-item-border"></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>