<section class="tp-skill-area pt-115 pb-105 p-relative z-index-1 fix theme-bg-2">
    <!-- <div class="tp-skill-shape">
        <span class="tp-skill-shape-1"></span>
        <span class="tp-skill-shape-2"></span>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-skill-section-title">
                    <div class="tp-section-title-wrapper tp_text_anim mb-30 text-center">
                        <div class="tp-section-title-inner tp_title_anim p-relative">
                            <h3 class="tp-section-title">Skills & tools</h3>
                        </div>
                        <p>For those who know what they're looking for..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="tp-skill-tab tp-tab d-flex align-items-center justify-content-center mb-70">
                    <nav>
                        <div class="nav nav-tabs tp-marker-tab" id="nav-tab" role="tablist">
                            <button class="nav-link " id="nav-tech-tab" data-bs-toggle="tab" data-bs-target="#nav-tech"
                                type="button" role="tab" aria-controls="nav-tech" aria-selected="true">Tech</button>
                            <button class="nav-link active" id="nav-design-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-design" type="button" role="tab" aria-controls="nav-design"
                                aria-selected="false">Design</button>
                            <span id="lineMarker"></span>
                        </div>
                    </nav>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-tech" role="tabpanel" aria-labelledby="nav-tech-tab"
                        tabindex="0">
                        <div class="tp-skill-tab-content tp-skill-radius">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/laravel.png" alt=""
                                                        style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Laravel</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/vue.png" alt="">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Vue.Js</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/tailwind.png" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Tailwind CSS</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/bootstrap.png" alt=""
                                                        style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Bootstrap</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/git.png" alt="" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">GIT</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/kotlin.png" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Kotlin</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-design" role="tabpanel"
                        aria-labelledby="nav-design-tab" tabindex="0">
                        <div class="tp-skill-tab-content tp-skill-radius">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/ai.png" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Illustrator</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/figma.png" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Figma</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/photoshop.png" alt="">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Photoshop</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/indesign.png" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">Indesign </h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/ae.png" alt="" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">After Effect</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                    <div class="tp-skill-item text-center">
                                        <div
                                            class="tp-skill-thumb d-flex align-items-center justify-content-center flex-column">
                                            <div class="tp-skill-icon">
                                                <span>
                                                    <img src="/assets/img/skill/capcut.webp" style="height: 56px;">
                                                </span>
                                            </div>
                                            <div class="tp-skill-content">
                                                <h3 class="tp-skill-title">CapCut</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>